
.card {
    margin-bottom: 24px;
    box-shadow: 0 2px 4px rgba(black,.08);
}

.card-drop {
    font-size: 20px;
    line-height: 0;
    color: inherit;
}

.card-title {
    font-size: 15px;
    margin: 0 0 7px 0;
    font-weight:500;
}

.card-title-desc {
    color:  #74788d;
    margin-bottom: 24px;
}

